:root {
  --clr-darkblue: #3644af;
  --clr-lightblue: #1fb6ea;
  --clr-white: #ffffff;
  --clr-grey: #666666;
  --clr-coal: #2a3443;
  --clr-black: #333333;
  --font-head: 'Courier New', Courier, monospace;
  --font-sub: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  max-width: 1980px;
  height: 100vh;
}

.container__landing {
  background-image: url('/img/header-bg-3.jpg');
  color: var(--clr-white);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container__landing--p {
  padding: 200px 0;
}

.container__landing--m {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  padding: 2% 0;
  margin: auto;
}

.container__landing--receiver {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: var(--font-head);
  text-align: center;
}

.parrafo {
  font-family: var(--font-sub);
  text-align: center;
  max-width: 500px;
}

.container__landing--pb {
  margin-top: 2.75%;
}

.container__landing--button {
  display: flex;
  justify-content: center;
}

.boton__trabajo {
  background-color: var(--clr-white);
  color: var(--clr-darkblue);
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--font-head);
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 28px;
}


.main__content {
  padding: 100px 0;
}

.container__landing--main {
  padding: 2% 0;
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.container__landing--titulo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.titulo__main {
  color: var(--clr-black);
  font-family: var(--font-head);
  font-size: 40px;
  font-weight: 700;
}

.subtitulo {
  color: var(--clr-grey);
  font-family: var(--font-sub);
  max-width: 500px;
  font-weight: 600;
}

.container__landing--cards {
  padding: 2% 0;
  width: 80%;
  max-width: 1080px;
  margin: auto;
  display: flex;
  gap: 5.5%;
}

.card {
  width: 28%;
  border-radius: 5px;
  padding: 60px 30px 60px 40px;
  color: var(--clr-white);
}

.color1 {
  background-color: var(--clr-lightblue);
}

.color2 {
  background-color: var(--clr-darkblue);
}

.color3 {
  background-color: var(--clr-coal);
}

.card__contents {
  display: flex;
  flex-flow: column;
  
}

.container__landing--associates {
  padding: 2% 0;
  width: 80%;
  max-width: 1080px;
  margin: auto;
}