---
import LandingMain from "./landingMain.astro";
import LandingCards from "./landingCards.astro";
import LandingAssociates from "./landingAssociates.astro";
---

<section>
  <LandingMain />
  <LandingCards />
  <LandingAssociates />
</section>