---

---

<div class="container__landing--cards">
  <div class="card color1">
    <div class="card__contents">
      <img src="/icon-service-1.png" alt="" class="img__card">
      <h3 class="titulo__card">Branding</h3>
      <p class="parrafo__card">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.</p>
    </div>
  </div>
  <div class="card color2">
    <div class="card__contents">
      <img src="/icon-service-2.png" alt="" class="img__card">
      <h3 class="titulo__card">SEO</h3>
      <p class="parrafo__card">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.</p>
    </div>
  </div>
  <div class="card color3">
    <div class="card__contents">
      <img src="/icon-service-3.png" alt="" class="img__card">
      <h3 class="titulo__card">Development</h3>
      <p class="parrafo__card">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.</p>              
    </div>
  </div>
</div>
